/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
}


.selected {
  color: red;
}

.modal-content {
  background-color: #353535 !important;
  color: white !important;
  border-radius: 1rem !important;
  border: 2px solid #353535 !important;
  padding: 1rem !important;
  text-align: center !important;
}

.modal-body {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.myInput {
  padding: 4px;
  border-radius: 1rem;
  text-align: left;
  margin-bottom: 2rem;
  width: 80%;
  height: 4rem;
  color: white !important;
  background-color: black;
}

